// Place all the styles related to the Spa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: JosefinSlab;
  src: url(app/assets/fonts/JosefinSlab-VariableFont_wght.ttf) format("opentype");
}

html {
  font-family: JosefinSlab, Serif, serif !important;
}

$font-family-base: Inter, serif;
